*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.VC.db
x64/
/InfiniTAM/build/
build/
/InfiniTAM/buildx/
/InfiniTAM/install/
/InfiniTAM/Files/Out/out.ppm
/InfiniTAM/Files/Out/*.ppm
/InfiniTAM/Files/Teddy/Frames
